<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorited Pets Index</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>

    <div class="grid-pet-container pet">
        <% @favorites.each do |pet| %>
          <%= image_tag(pet.image, alt: pet.name, class: "pet-index-image") %>
          <nav class="name"> <h1> <a href="/pets/<%= pet.id %>"><%= pet.name %></a></h1></nav>
        <%end%>
      </div>
      
  </body>
</html>