<% @favorites.each do |pet| %>
  <div class="pets" id="<%=pet.name%>">
    <input type="radio" id="adopt" value="adopt" name="adopt"> Adopt me!</input>
    <br><br>
    <p> <%= pet.name %></p>
  <% end %>
</div>
