:root {
  --clr-gray:#37474f;
  --clr-gray-light:#b0bec5;
}

*{
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}


html {
  height: 100%;
  width: 100%;
}

/*
body {
  color:var(--clr-gray);
}*/

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(https://cdn.pixabay.com/photo/2017/06/20/22/14/men-2425121_960_720.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}
.container::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.25);
}
.pets_container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(https://cdn.pixabay.com/photo/2017/12/24/14/27/geometric-3037028_960_720.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.pets_container::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.25);
}
.main_container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(https://cdn.pixabay.com/photo/2017/03/25/17/56/color-2174049_960_720.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main_container::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.25);
}

nav {
  position: relative; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 14px;
}
nav a {
  text-decoration: none;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}
.links{
  background-color: #333333;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
}

links a {
  font-size: 2vw;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
topnav nav {
  position: relative; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 14px;
}
topnav a {
  text-decoration: none;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

main {
  height: 800px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.child {
  text-align: center;
  position: absolute;
}

h1 {
  font-size: 4vw;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  font-size: 2vw;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
a:hover {
  color: lightgray;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  grid-gap: 1rem;
}
.grid-1 {
  margin: 0 auto;
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  font-family: sans-serif;
}

.grid-item {
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  background-color: #ccc;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  background-color: var(--clr-gray);
  overflow: hidden;
  padding: 20px;
}

.banner-grid_item {
  position: absolute;
  background-color: #333333;
  height: 25%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1rem;
}
.grid-pet-container {
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  text-align: center;
  border-radius: 1rem;
  position: relative;
  background-color: var(--clr-gray);
  overflow: hidden;
}

.pet-index-image{
  width:12rem;
  clip-path: circle(60px at center);
  margin-top: 1rem;
}

.info {
  margin:1rem 2rem;
  color: white;
  line-height: 2rem;
}

.form-container {
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  text-align: left;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  background-color: var(--clr-gray);
  overflow: hidden;
  padding: 2rem;
  color: white
}
@media screen and (min-width:760px){
  .grid{
    grid-template-columns: repeat(3, 1fr);
  }
}
