<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shelters Index</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
   <div class="pets_container">
      <nav>
        <a href="/">HOME</a>
        <a href="/shelters">SHELTERS</a>
        <a href="/pets">PETS</a>
      </nav>

      <main>
        <div class="child">

          <div class="grid-pet-container pet">
            <div class="banner-grid_item"></div>


            <div class="info">
              <% @shelter.reviews.each do |review| %>
                <ul><b>Title: <%= review.title %></ul></b>
                <ul><b>Body: </b><%= review.content %></ul>
                <ul> <%= review.optional_picture %></ul>
                    <% end %>
            </div>

          </div>
        </div>
      </main>



      <footer>
          <nav>
        <a href="#">Home</a>
        <a href="/shelters">Shelters</a>
        <a href="/pets">Pets</a>
      </nav>
        </footer>
    </div>

  </body>
</html>
